
<!DOCTYPE html>
<html>
<head>
   {{> meta}}

    <title class="text">Weather station Viper</title>
</head>
<body>
    {{> header}}
    <h1>Weather station Viper</h1>
    
    {{{body}}}

</body>
</html>