
<div class="dash">
    {{!-- <h1 id="title">Weather station Viper</h1> --}}
    <div id="current_state">
        <div class="current_time">
            <a id="date">29 Dec 2023</a>
            <a id="time">13:20</a>
        </div>
        
        <span><img id="icon" src="https://res.cloudinary.com/weather-station-viper/image/upload/v1698516376/weather_icons/thermostat2_qomkdz.svg"></span>

        <ul class="params">
            <li class="result">
                <a class="name">Temperature:</a>
                <a class="r" id="temperature">N/A</a>
            </li>

            <li class="result">
                <a class="name">Humidity:</a>
                <a class="r" id="humidity">N/A</a>
            </li>

              <li class="result">
                <a class="name">Pressure:</a>
                <a class="r" id="pressure">N/A</a>
            </li>

              <li class="result">
                <a class="name">Rain:</a>
                <a class="r" id="rain">N/A</a>
            </li>

        </ul>
    </div>
</div>