
<div class="navbar">
  <a href="./dashboard"><i class="navOption"></i> Dashboard</a>
  <a href="./entries"><i class="navOption"></i> Logs</a>
   <a href="#"><i class="navOption"></i> BG</a>
</div>
<script url="../scripts/nav.js"> </script>