<header>
  <nav>
    <ul class="navigation">

      <li class="options">
        <a lang="en"href="/dashboard">
            <span><img class="header-images" id="dashboard" src="https://res.cloudinary.com/weather-station-viper/image/upload/v1698566331/weather_icons/dashboard_f9e8pw.svg"></span>
            <span id="dash-text" class="text">Dashboard</span>
        </a>
         <a href="/logs">
            <span><img class="header-images" id="logs" src="https://res.cloudinary.com/weather-station-viper/image/upload/v1698516313/weather_icons/library_books_vwvkql.svg"></span>
            <span id="log-text" class="text">Logs</span>
        </a>

        <a href="#">
            <span><img class="header-images" id="language" src="https://res.cloudinary.com/weather-station-viper/image/upload/v1698566853/weather_icons/language_f13wur.svg"></span>
            
        </a>
      </li>

    </ul>
  </nav>
</header>
<script url="../scripts/nav.js"> </script>