<header>
  <nav>
    <ul class="navigation">

      <li class="options">
        <a href="/dashboard">
            <span><img class="header-images" id="dashboard" src="https://res.cloudinary.com/weather-station-viper/image/upload/v1698566331/weather_icons/dashboard_f9e8pw.svg"></span>
            Dashboard
        </a>

         <a href="/logs">
            <span><img class="header-images" id="logs" src="https://res.cloudinary.com/weather-station-viper/image/upload/v1698516313/weather_icons/library_books_vwvkql.svg"></span>
            Logs
        </a>

        <a href="/dashboard">
            <span><img class="header-images" id="language" src="https://res.cloudinary.com/weather-station-viper/image/upload/v1698566853/weather_icons/language_f13wur.svg"></span>
            
        </a>
      </li>

    </ul>
  </nav>
</header>
<script url="../scripts/nav.js"> </script>