<!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <title>Weather station</title>
        </head>

        <body>
            <h1>Weather station</h1>
        </body>

        </html>